
/* .margin{
  margin-left:40%;
  margin-right: 20%;
} */
/* 
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: lightblue;
  }
  
  .example-full-width {
    width: 100%;
  } */

 
 
.todo{
  
  
  display: inline-block;
  /* background-color: rgb(147, 90, 113); */
  background-color: #80DED9;
  width:50%;
  border: 1px solid gray;
  filter: brightness(88%);
  border-radius: 2%;

}
.card-title{
  word-wrap: break-word ;
  height: auto;
  max-width: 230px;
  padding-bottom: 7px;
  display: flex;
  justify-content: left;
  color:#7B1FA2

}


.card-text{
   
  word-wrap: break-word ;
  height: auto;
  max-width: 200px;
  color: #221E22;
}

.cdk-drag-preview{
  background-color: rgb(106, 144, 149);
  /* box-shadow: 0px 0px 8px 7px gainsboro; */
  
}

.cdk-drag-placeholder{
  opacity: 0;
}

.mat-button{
  font-size: 0.7rem;
  width:2%;
  height: 2%;
 
}

/* .cdk-drag-animating{
  transition:transform 200ms cubic-bezier(0,0,0.3,0)
} */

/* .cdk-drop-list-dragging .cdk-drag{
  transition:transform 100ms cubic-bezier(0,0,0.3,0)
} */