/* .left-icons{
    position: relative;
    right:  20vw;
    margin-top: 6px;
} */
body{
    width:100vw;
}
mat-toolbar{
    display: flex;
    justify-content: space-between;
}
.heart-icon{
    position: relative;
    margin-left:12px;
    top: 7px;
    color:red
}