

  
   <app-navbar (openPanel)="openPanel()" (toggleMode)="toggleMode()"></app-navbar>
   <mat-sidenav-container>

    <mat-sidenav  mode="side" [(opened)]="opened">
      
      <app-add-todo (addNewTodo)="addNewTodo($event)" (newTOdoMessage)="onNewTodo()" ></app-add-todo>
    </mat-sidenav>
     
 
    <div class="todo-panel"  [ngStyle]="{'background' : defaultColor ? '#dedede' : '#564f4f73'}" >
      
        <div 
        cdkDropList
        [cdkDropListConnectedTo]="[doneList,binList]"
        cdkDeropListOrientation="vertical"
        #todoList="cdkDropList"
        class="droplist"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="data"
        >

        

        
        <h2 class="column-title" [ngStyle]="{'color' : defaultColor ? '#a726266e' : '#ff07076e'}"> Todos ({{data.length}})</h2>
       
        <app-todo
        class="drop-item"
        [defaultColor]="defaultColor"

        *ngFor="let item of data"
           [title]="item.title"
           [text]="item.text"
           (addToDone)='addToDone($event)'
           buttonText="Delete"
           (deleteTodo)="deleteTodo('todoList',$event)"
           (successMessage)="onSuccess()"
           (deleteMessage)="onDelete()"
       ></app-todo>  
    </div>
      
    <div 
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListConnectedTo]="[todoList,binList]"
        cdkDeropListOrientation="vertical"
        class="droplist"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="data2"
        
        >

        


        <h2 class="column-title" [ngStyle]="{'color' : defaultColor ? '#a726266e' : '#ff07076e'}"> Done ({{data2.length}})</h2>
        <app-todo 
        class="drop-item"
        [defaultColor]="defaultColor"
        *ngFor="let item of data2"
           [title]="item.title"
           [text]="item.text"
           [buttondisplay]="buttonDisplayDone"
           [buttonText]="'Delete'"
           (deleteTodo)="deleteTodo('doneList',$event)"
           (deleteMessage)="onDelete()"
    ></app-todo>  
    </div>
    
    <div
     class="bin"
     cdkDropList
      #binList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList,todoList]"
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="bin"
     
     >
     <h2 class="column-title" [ngStyle]="{'color' : defaultColor ? '#a726266e' : '#ff07076e'}" >Delete</h2>
     <h5 class="column-title" style="font-size: 1rem;" [ngStyle]="{'color' : defaultColor ? '#a726266e' : '#ff07076e'}" >(Drop here to delete!)</h5>
     <circle-progress
        class="circular-progress"
        [percent]="percentage"
        
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="outerStrokeColor"
        [innerStrokeColor]="innerStrokeColor"
        [unitsFontSize]="'20'"
        [unitsColor]="percentageColor"
        [titleColor]="percentageColor"
        [animation]="true"
        [subtitle]="'Complete'"
        [subtitleFontSize]="'30'"
        [animationDuration]="1750"
            ></circle-progress>

     <app-todo class="drop-item"
        *ngFor="let item of bin"
           [title]="item.title"
           [text]="item.text"
       ></app-todo> 
    
    </div>
    </div>
    
    <simple-notifications ></simple-notifications>
  </mat-sidenav-container>

  