 

.droplist{
  
    display:flex;
    flex-direction: column;
    /* background-color: rgb(172, 40, 68); */
    width:35%;
   
}
 
.todo-panel{
 
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(172, 40, 68); */
     background-color:#dedede  ;
    min-height: 100%;
}
.column-title{

display: flex;
justify-content :center;
color:  #61574b4a; 
left: 21%;
margin-top: 2%;

};

 
.cdk-drag-placeholder{
    opacity: 0;
}

 

.bin{
    width: 20%;
    /* background-color: rgb(172, 40, 68); */
    padding: 0;
    margin: 0%;
     
}

.drop-item{
    display: flex;
    justify-content :center;
    /* background-color: rgb(172, 40, 68);
    */
}
.circular-progress{
    position: absolute;
     right: 6%;
     top:25%;
}

ng-star-inserted{
    font-size: 2rem;
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    /* padding: 16px; */
    /* background-color: rgb(172, 40, 68);
   
 */
 background-color:#119DA4
}
mat-sidenav{
    /* background-color: coral; */
    width: 20%;
    z-index: 4444444;
}
 
mat-toolbar   {
    background-color: rgb(91, 85, 85);
}